{% extends "base_generic.html" %}

{% block content %}
    <h1>Upload CSV</h1>
    <p>{{ details }}</p>
    
    <!-- File upload form -->
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}  <!-- Renders the form fields as paragraphs -->
        
        <button type="submit">Upload</button>
    </form>
    <br>

    <!-- Existing transformation forms -->
    <form method="post">
        {% csrf_token %}
        <button type="submit" name="transformation_type" value="Statewide V01">Run Statewide V01 Transformation</button>
    </form>
    <form method="post">
        {% csrf_token %}
        <button type="submit" name="transformation_type" value="Tri-County">Run Tri-County Transformation</button>
    </form>
    <br>

    
{% endblock %}
