{% extends "base_generic.html" %}

{% block content %}
    <h1>Upload CSV</h1>
    <p>{{ details }}</p>
    
    <!-- File upload form -->
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}  <!-- Renders the form fields as paragraphs -->
        
        <br>
               
        <button type="submit">Upload</button>
    </form>
    <br>

    <!-- Transformation buttons -->
    <form method="post">
        {% csrf_token %}
        <button type="submit" name="transformation_type" value="Statewide V01">Run Statewide V01 Transformation</button>
    </form>
    <form method="post">
        {% csrf_token %}
        <button type="submit" name="transformation_type" value="Tri-County">Run Tri-County Transformation</button>
    </form>
    <form method="post">
        {% csrf_token %}
        <button type="submit" name="transformation_type" value="County-Layer">Run County Layer Transformation</button>
    </form>

    <form method="post">
        {% csrf_token %}
        <button type="submit" name="transformation_type" value="Metopio Statewide">Run Metopio Statewide Transformation</button>
    </form>

    <form method="post">
        {% csrf_token %}
        <button type="submit" name="transformation_type" value="Zipcode">Run Metopio Zip Code Transformation</button>

    <br>
    {% if message %}
        <div class="alert alert-info">{{ message }}</div>
    {% endif %}
{% endblock %}
