{% extends "base_generic.html" %}

{% block title %}Data Processor Home{% endblock %}

{% block content %}
    <h1>School Data Processor</h1>
    <p>Select a transformation type to process your data in the existing database:
        The Other option is to go to the Upload tab and then Upload the CSV file and run the transformation
    </p>
      <!-- Form to select transformation type -->
    <form method="post">
        {% csrf_token %}
        <button type="submit" name="transformation_type" value="Statewide V01">Run Statewide V01 Transformation</button>
        <button type="submit" name="transformation_type" value="Tri-County">Run Tri-County V02 Transformation</button>
        <button type="submit" name="transformation_type" value="County-Layer">Run County Layer Transformation</button>
        <button type="submit" name="transformation_type" value="Metopio Statewide">Run Metopio Statewide Transformation</button>
        <button type="submit" name="transformation_type" value="Zipcode">Run Metopio Zipcode Transformation</button>
    </form>
{% endblock %}
